@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* Montserrat */

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat.ttf');
	font-display: swap;
}

h1,
h2,
h3,
.poppins {
	font-family: 'Poppins', sans-serif;
}
